<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<br><br><br>


<div class="container">
    <div class="card text-dark bg-dark-gray border-warning text-center">
        <div class="card-header text-dark bg-aqua">
            <h3> {{title}} </h3>
        </div>
        <div class="card-body">
            <div class="d-flex flex-row pad2y">
                <input class="form-control w-100 " type="text" #newTodo />
                <button class="btn btn-success" (click)="addTodo(newTodo.value); newTodo.value= ''">submit</button>
            </div>
            <br>
            <table class="table table-success border-danger">
                <thead>
                    <tr class="table-danger">
                        <th>Label</th>
                        <th>Priority</th>
                        <th>Done</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of todolist">
                        <td>{{data.label}}</td>
                        <td>{{data.priority}}</td>
                        <td>{{data.done ? '&#10003;' : '&#10005;'}}</td>
                        <td><button class="btn btn-danger" (click)="delete(data)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->